# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.ipynb_checkpoints
# data/
results/
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# R files
.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
src/polygons/dataorg-polygons/data/
src/polygons/dataorg-polygons/test/
src/polygons/dataorg-polygons/septima/data/
